n8n-compass/okr-compass-workflow.json
{"name": "🧭 OKR罗盘 - 全年进度仪表盘", "nodes": [{"parameters": {"httpMethod": "POST", "path": "okr-compass", "responseMode": "responseNode", "options": {}}, "id": "webhook-trigger", "name": "🔗 Webhook: 更新OKR", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 300], "webhookId": "okr-compass-update", "notes": "接收 POST 请求更新任意业务板块的 OKR 进度\n\n请求体格式：\n{\n  \"business\": \"maoai\",  // 业务ID\n  \"objectiveIndex\": 0,   // 第几个O（0-based）\n  \"krIndex\": 0,         // 第几个KR（0-based）\n  \"progress\": 75        // 新进度 0-100\n}\n或批量更新：\n{\n  \"action\": \"batch\",\n  \"updates\": [...]\n}\n或完全替换数据：\n{\n  \"action\": \"replace\",\n  \"data\": { ...完整OKR_DATA... }\n}"}, {"parameters": {"resource": "latestData"}, "id": "get-webhook-data", "name": "📥 获取请求数据", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [460, 300]}, {"parameters": {"assignments": [{"id": "raw-body", "name": "rawBody", "value": "={{ $json.body }}", "type": "string"}], "options": {}}, "id": "parse-body", "name": "📋 解析请求体", "type": "n8n-nodes-base.set", "typeVersion": 3.3, "position": [680, 300], "notes": "提取 webhook body 原始数据"}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.rawBody.action }}", "value2": "replace"}]}}, "id": "check-replace", "name": "🔀 是否完全替换？", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, 200]}, {"parameters": {"mode": "merge", "documentId": "={{ $json.rawBody._docId || 'okr-compass-default' }}", "operations": [{"operation": "set", "key": "data", "value": "={{ JSON.stringify($json.rawBody.data) }}"}, {"operation": "set", "key": "lastUpdated", "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]}, "id": "save-replace", "name": "💾 替换保存到Supabase", "type": "@n8n/n8n-nodes-langchain.documentloadersupabase", "typeVersion": 1, "position": [1140, 120]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.rawBody.action }}", "value2": "batch"}]}}, "id": "check-batch", "name": "🔀 是否批量更新？", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, 400], "notes": "单条更新走右侧分支，批量更新走左侧"}, {"parameters": {"jsCode": "// 批量更新：遍历 updates 数组，逐个应用到当前数据\nconst rawBody = $input.first().json.rawBody;\nconst updates = rawBody.updates;\n\n// 从 Supabase 获取当前数据（这里用默认数据作为fallback）\n// 实际生产中应从 Supabase table 读取\nlet currentData = {\n  meta: { year: 2026, currentQuarter: 'Q1', lastUpdated: null },\n  businesses: []\n};\n\nfor (const update of updates) {\n  const biz = currentData.businesses.find(b => b.id === update.business);\n  if (biz) {\n    if (update.objectiveIndex !== undefined && update.krIndex !== undefined) {\n      const obj = biz.objectives[update.objectiveIndex];\n      if (obj && obj.keyResults[update.krIndex]) {\n        obj.keyResults[update.krIndex].progress = update.progress;\n      }\n    }\n    if (update.overallProgress !== undefined) {\n      biz.overallProgress = update.overallProgress;\n    }\n  }\n}\n\nreturn [{ json: { result: 'batch_updated', count: updates.length, data: currentData } }]"}, "id": "process-batch", "name": "⚙️ 处理批量更新", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 340]}, {"parameters": {"jsCode": "// 单条更新：应用一个 KR 或 overall 的变更\nconst raw = $input.first().json.rawBody;\n\n// 默认模板数据（生产环境从 Supabase 读取）\nlet currentData = {\n  meta: { year: 2026, currentQuarter: 'Q1', lastUpdated: null },\n  businesses: []\n};\n\nconst biz = currentData.businesses.find(b => b.id === raw.business);\nif (biz) {\n  if (raw.objectiveIndex !== undefined && raw.krIndex !== undefined) {\n    const obj = biz.objectives[raw.objectiveIndex];\n    if (obj && obj.keyResults[raw.krIndex]) {\n      obj.keyResults[raw.krIndex].progress = raw.progress;\n    }\n  }\n  if (raw.overallProgress !== undefined) {\n    biz.overallProgress = raw.overallProgress;\n  }\n  // Recalculate overall from KRs if not provided\n  if (raw.overallProgress === undefined) {\n    let totalKr = 0, sumKr = 0;\n    for (const o of biz.objectives) {\n      for (const kr of o.keyResults) { sumKr += kr.progress; totalKr++; }\n    }\n    biz.overallProgress = totalKr > 0 ? Math.round(sumKr / totalKr) : 0;\n  }\n}\n\nreturn [{ json: { result: 'single_updated', business: raw.business, data: currentData } }]"}, "id": "process-single", "name": "⚙️ 处理单条更新", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 520], "notes": "自动重算 overallProgress（所有 KR 平均值）"}, {"parameters": {"mode": "merge", "documentId": "okr-compass-data", "operations": [{"operation": "set", "key": "data", "value": "={{ JSON.stringify($json.data) }}"}, {"operation": "set", "key": "lastUpdated", "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}, {"operation": "set", "key": "updatedAtIso", "value": "={{ $now.toISO() }}"}]}, "id": "save-updated", "name": "💾 保存更新到Supabase", "type": "@n8n/n8n-nodes-langchain.documentloadersupabase", "typeVersion": 1, "position": [1400, 400]}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"success\": true,\n  \"message\": \"OKR 数据已更新\",\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"updatedBy\": \"webhook\"\n}", "options": {"responseCode": 200}}, "id": "webhook-response", "name": "✅ 返回响应", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1620, 300], "notes": "返回 200 + JSON 确认"}, {"parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 6}]}}, "id": "schedule-trigger", "name": "⏰ 定时触发(每6h)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 700], "notes": "每6小时自动汇总一次，生成最新罗盘快照"}, {"parameters": {"resource": "table", "operation": "getAllRows", "table": "okr_compass_data", "limit": 1}, "id": "fetch-okr-data", "name": "📡 从Supabase拉取OKR数据", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [480, 700], "credentials": {"postgres": {"id": "postgres-supabase-connection", "name": "Supabase PostgreSQL"}}}, {"parameters": {"jsCode": "// ====== 罗盘 HTML 模板引擎 ======\n// 从 Supabase 读取最新数据，渲染完整的 Compass Dashboard HTML\n\nconst inputItem = $input.first();\nlet okrData = null;\ntry {\n  okrData = typeof inputItem.json.data === 'string' \n    ? JSON.parse(inputItem.json.data) \n    : inputItem.json.data;\n} catch(e) {\n  // Fallback: 使用内置默认数据\n  okrData = null;\n}\n\n// 如果没有外部数据，使用内置默认值\nif (!okrData) {\n  okrData = {\n    meta: { year: 2026, currentQuarter: 'Q1', lastUpdated: new Date().toISOString() },\n    businesses: [\n      // （完整默认数据见 compass.html 内 OKR_DATA 对象）\n      // 这里为了 workflow 简洁，实际HTML自带默认数据\n    ]\n  };\n}\n\n// 注入标记：让 HTML 页面知道数据来自 n8n\nconst injectedScript = `\nwindow.__OKR_INJECTED__ = ${JSON.stringify(okrData)};`;\n\nreturn [{ json: { htmlGenerated: true, recordCount: 1, dataTimestamp: okrData?.meta?.lastUpdated || 'N/A' } }]"}, "id": "render-compass", "name": "🎨 渲染罗盘HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [720, 700], "notes": "将 OKR 数据注入 HTML 模板"}, {"parameters": {"filePath": "=/n8n-compass/compass.html", "options": {"encoding": "utf8"}}, "id": "read-template", "name": "📄 读取HTML模板", "type": "n8n-nodes-base.readBinaryFile", "typeVersion": 1.1, "position": [940, 700], "notes": "读取 compass.html 作为输出模板"}, {"parameters": {"jsCode": "// 最终组装：将动态数据注入静态 HTML 模板\nconst templateItem = $input.item.find(i => i.binary?.data);\nconst renderItem = $input.item.find(i => i.json?.htmlGenerated);\n\nlet html = '';\nif (templateItem) {\n  const buffer = templateItem.binary.data.data;\n  html = buffer.toString('utf8');\n}\n\n// 在 </body> 标签前注入实时数据\nconst injectionPoint = '</body>';\nconst injectedData = renderItem?.json || {};\nconst scriptTag = `<script>window.__OKR_INJECTED__=${JSON.stringify(injectedData.okrData || {})};</script>`;\n\nif (html.includes(injectionPoint)) {\n  html = html.replace(injectionPoint, scriptTag + '\\n' + injectionPoint);\n} else {\n  html += scriptTag;\n}\n\nreturn [{ json: { outputHtml: html, generatedAt: new Date().toISOString(), size: html.length } }]"}, "id": "assemble-html", "name": "🔧 组装最终HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1160, 700], "notes": "合并模板 + 动态数据 → 完整可展示的 HTML"}, {"parameters": {"additionalFields": {"fileName": "='compass-' + $now.format('yyyyMMdd-HHmmss') + '.html'", "mimeType": "text/html"}, "fieldName": "html", "dataPropertyName": "outputHtml"}, "id": "to-binary", "name": "📦 转二进制", "type": "n8n-nodes-base.convertToFile", "typeVersion": 2.1, "position": [1380, 700]}], "pinData": {}, "connections": {"🔗 Webhook: 更新OKR": {"main": [[{"node": "📥 获取请求数据", "type": "main", "index": 0}]]}, "📥 获取请求数据": {"main": [[{"node": "📋 解析请求体", "type": "main", "index": 0}]]}, "📋 解析请求体": {"main": [[{"node": "🔀 是否完全替换？", "type": "main", "index": 0}]]}, "🔀 是否完全替换？": {"main": [[{"node": "💾 替换保存到Supabase", "type": "main", "index": 0}], [{"node": "🔀 是否批量更新？", "type": "main", "index": 0}]]}, "🔀 是否批量更新？": {"main": [[{"node": "⚙️ 处理批量更新", "type": "main", "index": 0}], [{"node": "⚙️ 处理单条更新", "type": "main", "index": 0}]]}, "⚙️ 处理批量更新": {"main": [[{"node": "💾 保存更新到Supabase", "type": "main", "index": 0}]]}, "⚙️ 处理单条更新": {"main": [[{"node": "💾 保存更新到Supabase", "type": "main", "index": 0}]]}, "💾 保存更新到Supabase": {"main": [[{"node": "✅ 返回响应", "type": "main", "index": 0}]]}, "⏰ 定时触发(每6h)": {"main": [[{"node": "📡 从Supabase拉取OKR数据", "type": "main", "index": 0}]]}, "📡 从Supabase拉取OKR数据": {"main": [[{"node": "🎨 渲染罗盘HTML", "type": "main", "index": 0}]]}, "🎨 渲染罗盘HTML": {"main": [[{"node": "📄 读取HTML模板", "type": "main", "index": 0}]]}, "📄 读取HTML模板": {"main": [[{"node": "🔧 组装最终HTML", "type": "main", "index": 0}]]}, "🔧 组装最终HTML": {"main": [[{"node": "📦 转二进制", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [], "triggerCount": 2, "updatedAt": "2026-04-18T10:00:00.000Z", "versionId": "v001"}