n8n-compass/okr-compass-workflow-v2.json
{"name": "🧭 OKR罗盘 - 全年进度仪表盘 (v2 + WorkBuddy打通)", "nodes": [{"parameters": {"httpMethod": "POST", "path": "okr-compass", "responseMode": "responseNode", "options": {}}, "id": "webhook-trigger-okr", "name": "🔗 Webhook: 更新OKR", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 300], "webhookId": "okr-compass-update", "notes": "POST /webhook/okr-compass\n更新业务板块 OKR 进度"}, {"parameters": {"httpMethod": "POST", "path": "task-progress", "responseMode": "responseNode", "options": {}}, "id": "webhook-trigger-task", "name": "🔗 Webhook: WorkBuddy任务进度", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 900], "webhookId": "task-progress-update", "notes": "POST /webhook/task-progress\n接收 WorkBuddy bridge 推送的任务进度\n\n请求体:\n{\n  \"action\": \"task_update\",\n  \"task\": {\n    \"id\": \"wb_001\",\n    \"title\": \"任务标题\",\n    \"progress\": 65,\n    \"step\": \"当前步骤描述\",\n    \"status\": \"running|completed|stuck|pending\",\n    \"session\": \"会话标识\"\n  }\n}"}, {"parameters": {"resource": "latestData"}, "id": "get-webhook-data-okr", "name": "📥 获取OKR请求数据", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [460, 300]}, {"parameters": {"resource": "latestData"}, "id": "get-webhook-data-task", "name": "📥 获取Task请求数据", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [460, 900]}, {"parameters": {"assignments": [{"id": "raw-body", "name": "rawBody", "value": "={{ $json.body }}", "type": "string"}], "options": {}}, "id": "parse-body-okr", "name": "📋 解析OKR请求体", "type": "n8n-nodes-base.set", "typeVersion": 3.3, "position": [680, 300]}, {"parameters": {"assignments": [{"id": "raw-body", "name": "rawBody", "value": "={{ $json.body }}", "type": "string"}, {"id": "task-data", "name": "taskData", "value": "={{ $json.body.task }}", "type": "string"}], "options": {}}, "id": "parse-body-task", "name": "📋 解析Task请求体", "type": "n8n-nodes-base.set", "typeVersion": 3.3, "position": [680, 900], "notes": "提取 task 对象，供后续节点使用"}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.rawBody.action }}", "value2": "replace"}]}}, "id": "check-replace", "name": "🔀 是否完全替换？", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, 200]}, {"parameters": {"conditions": {"string": [{"value1": "={{ $json.rawBody.action }}", "value2": "batch"}]}}, "id": "check-batch", "name": "🔀 是否批量更新？", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, 400], "notes": "单条更新走右侧分支，批量更新走左侧"}, {"parameters": {"jsCode": "// 批量更新 OKR\nconst rawBody = $input.first().json.rawBody;\nconst updates = rawBody.updates;\nlet currentData = { meta: { year: 2026, currentQuarter: 'Q1' }, businesses: [] };\nfor (const update of updates) {\n  const biz = currentData.businesses.find(b => b.id === update.business);\n  if (biz) {\n    if (update.objectiveIndex !== undefined && update.krIndex !== undefined) {\n      const obj = biz.objectives[update.objectiveIndex];\n      if (obj && obj.keyResults[update.krIndex]) obj.keyResults[update.krIndex].progress = update.progress;\n    }\n    if (update.overallProgress !== undefined) biz.overallProgress = update.overallProgress;\n  }\n}\nreturn [{ json: { result: 'batch_updated', count: updates.length, data: currentData } }]"}, "id": "process-batch", "name": "⚙️ 处理批量更新", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 340]}, {"parameters": {"jsCode": "// 单条 OKR 更新\nconst raw = $input.first().json.rawBody;\nlet currentData = { meta: { year: 2026, currentQuarter: 'Q1' }, businesses: [] };\nconst biz = currentData.businesses.find(b => b.id === raw.business);\nif (biz) {\n  if (raw.objectiveIndex !== undefined && raw.krIndex !== undefined) {\n    const obj = biz.objectives[raw.objectiveIndex];\n    if (obj && obj.keyResults[raw.krIndex]) obj.keyResults[raw.krIndex].progress = raw.progress;\n  }\n  if (raw.overallProgress !== undefined) biz.overallProgress = raw.overallProgress;\n}\nreturn [{ json: { result: 'single_updated', business: raw.business, data: currentData } }]"}, "id": "process-single", "name": "⚙️ 处理单条更新", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 520], "notes": "自动重算 overallProgress（所有 KR 平均值）"}, {"parameters": {"mode": "merge", "documentId": "={{ $json.rawBody._docId || 'okr-compass-default' }}", "operations": [{"operation": "set", "key": "data", "value": "={{ JSON.stringify($json.rawBody.data) }}"}, {"operation": "set", "key": "lastUpdated", "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]}, "id": "save-replace", "name": "💾 替换保存到Supabase", "type": "@n8n/n8n-nodes-langchain.documentloadersupabase", "typeVersion": 1, "position": [1140, 120]}, {"parameters": {"mode": "merge", "documentId": "okr-compass-data", "operations": [{"operation": "set", "key": "data", "value": "={{ JSON.stringify($json.data) }}"}, {"operation": "set", "key": "lastUpdated", "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}, {"operation": "set", "key": "updatedAtIso", "value": "={{ $now.toISO() }}"}]}, "id": "save-updated-okr", "name": "💾 保存OKR到Supabase", "type": "@n8n/n8n-nodes-langchain.documentloadersupabase", "typeVersion": 1, "position": [1400, 400]}, {"parameters": {"jsCode": "// ====== WorkBuddy 任务进度处理 ======\n// 接收来自 workbuddy-bridge.js 的任务状态更新\n// 将其写入 workbuddy_tasks 表或追加到 state.json 的 workbuddyTasks 数组\n\nconst taskData = $input.first().json.taskData;\nif (!taskData) return [{ json: { error: 'no task data found' } }];\n\n// 构造标准化的任务对象\nconst normalizedTask = {\n  id: taskData.id,\n  title: taskData.title,\n  progress: taskData.progress || 0,\n  step: taskData.step || '',\n  status: taskData.status || 'pending',\n  session: taskData.session || 'unknown',\n  startedAt: taskData.startedAt || null,\n  updatedAt: new Date().toISOString(),\n};\n\n// 返回结果 — 后续节点写入 Supabase 或本地文件\nreturn [{ \n  json: { \n    action: 'workbuddy_task_synced',\n    task: normalizedTask,\n    timestamp: new Date().toISOString()\n  }\n}]"}, "id": "process-task-progress", "name": "⚙️ 处理WorkBuddy任务进度", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 900], "notes": "标准化 task 数据结构，准备写入存储层"}, {"parameters": {"mode": "merge", "documentId": "workbuddy-tasks-state", "operations": [{"operation": "append", "key": "tasks", "value": "={{ JSON.stringify([ $json.task ]) }}"}, {"operation": "set", "key": "lastTaskUpdated", "value": "={{ $now.toISO() }}"}]}, "id": "save-task-to-supabase", "name": "💾 保存WorkBuddy任务到Supabase", "type": "@n8n/n8n-nodes-langchain.documentloadersupabase", "typeVersion": 1, "position": [1160, 900], "notes": "将任务追加到 workbuddy_tasks 文档的 tasks 数组"}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"success\": true,\n  \"message\": \"OKR 数据已更新\",\n  \"timestamp\": \"{{ $now.toISO() }}\",\n  \"updatedBy\": \"webhook\"\n}", "options": {"responseCode": 200}}, "id": "webhook-response-okr", "name": "✅ 返回OKR响应", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1620, 300]}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"success\": true,\n  \"message\": \"WorkBuddy 任务进度已同步到罗盘\",\n  \"taskId\": \"={{ $json.task.id }}\",\n  \"progress\": {{ $json.task.progress }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}", "options": {"responseCode": 200}}, "id": "webhook-response-task", "name": "✅ 返回Task响应", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1400, 900], "notes": "返回确认给 WorkBuddy Bridge"}, {"parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 6}]}}, "id": "schedule-trigger", "name": "⏰ 定时触发(每6h)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 700], "notes": "每6小时自动汇总一次，生成最新罗盘快照"}, {"parameters": {"resource": "table", "operation": "getAllRows", "table": "okr_compass_data", "limit": 1}, "id": "fetch-okr-data", "name": "📡 从Supabase拉取OKR数据", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [480, 700], "credentials": {"postgres": {"id": "postgres-supabase-connection", "name": "Supabase PostgreSQL"}}}, {"parameters": {"jsCode": "// 渲染罗盘 HTML\nconst inputItem = $input.first();\nlet okrData = null;\ntry {\n  okrData = typeof inputItem.json.data === 'string' ? JSON.parse(inputItem.json.data) : inputItem.json.data;\n} catch(e) { okrData = null; }\nif (!okrData) okrData = { meta: { year: 2026, currentQuarter: 'Q1' }, businesses: [], workbuddyTasks: [] };\nreturn [{ json: { htmlGenerated: true, dataTimestamp: okrData?.meta?.lastUpdated || 'N/A', okrData } }]"}, "id": "render-compass", "name": "🎨 渲染罗盘HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [720, 700], "notes": "将 OKR + WorkBuddy 数据注入 HTML 模板"}, {"parameters": {"filePath": "=/n8n-compass/compass.html", "options": {"encoding": "utf8"}}, "id": "read-template", "name": "📄 读取HTML模板", "type": "n8n-nodes-base.readBinaryFile", "typeVersion": 1.1, "position": [940, 700], "notes": "读取 compass.html 作为输出模板"}, {"parameters": {"jsCode": "// 组装最终 HTML：注入动态数据到模板\nconst templateItem = $input.item.find(i => i.binary?.data);\nconst renderItem = $input.item.find(i => i.json?.htmlGenerated);\nlet html = '';\nif (templateItem) html = templateItem.binary.data.data.toString('utf8');\n\nconst okrData = renderItem?.json?.okrData || {};\nconst scriptTag = `<script>window.__OKR_INJECTED__=${JSON.stringify(okrData)};</script>`;\nconst injectionPoint = '</body>';\nif (html.includes(injectionPoint)) {\n  html = html.replace(injectionPoint, scriptTag + '\\n' + injectionPoint);\n} else { html += scriptTag; }\nreturn [{ json: { outputHtml: html, generatedAt: new Date().toISOString(), size: html.length } }]"}, "id": "assemble-html", "name": "🔧 组装最终HTML", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1160, 700], "notes": "合并模板 + 动态数据（含 WorkBuddy Tasks）→ 完整可展示 HTML"}, {"parameters": {"additionalFields": {"fileName": "='compass-' + $now.format('yyyyMMdd-HHmmss') + '.html'", "mimeType": "text/html"}, "fieldName": "html", "dataPropertyName": "outputHtml"}, "id": "to-binary", "name": "📦 转二进制", "type": "n8n-nodes-base.convertToFile", "typeVersion": 2.1, "position": [1380, 700]}], "pinData": {}, "connections": {"🔗 Webhook: 更新OKR": {"main": [[{"node": "📥 获取OKR请求数据", "type": "main", "index": 0}]]}, "🔗 Webhook: WorkBuddy任务进度": {"main": [[{"node": "📥 获取Task请求数据", "type": "main", "index": 0}]]}, "📥 获取OKR请求数据": {"main": [[{"node": "📋 解析OKR请求体", "type": "main", "index": 0}]]}, "📥 获取Task请求数据": {"main": [[{"node": "📋 解析Task请求体", "type": "main", "index": 0}]]}, "📋 解析OKR请求体": {"main": [[{"node": "🔀 是否完全替换？", "type": "main", "index": 0}]]}, "📋 解析Task请求体": {"main": [[{"node": "⚙️ 处理WorkBuddy任务进度", "type": "main", "index": 0}]]}, "🔀 是否完全替换？": {"main": [[{"node": "💾 替换保存到Supabase", "type": "main", "index": 0}], [{"node": "🔀 是否批量更新？", "type": "main", "index": 0}]]}, "🔀 是否批量更新？": {"main": [[{"node": "⚙️ 处理批量更新", "type": "main", "index": 0}], [{"node": "⚙️ 处理单条更新", "type": "main", "index": 0}]]}, "⚙️ 处理批量更新": {"main": [[{"node": "💾 保存OKR到Supabase", "type": "main", "index": 0}]]}, "⚙️ 处理单条更新": {"main": [[{"node": "💾 保存OKR到Supabase", "type": "main", "index": 0}]]}, "💾 替换保存到Supabase": {"main": [[{"node": "✅ 返回OKR响应", "type": "main", "index": 0}]]}, "💾 保存OKR到Supabase": {"main": [[{"node": "✅ 返回OKR响应", "type": "main", "index": 0}]]}, "⚙️ 处理WorkBuddy任务进度": {"main": [[{"node": "💾 保存WorkBuddy任务到Supabase", "type": "main", "index": 0}]]}, "💾 保存WorkBuddy任务到Supabase": {"main": [[{"node": "✅ 返回Task响应", "type": "main", "index": 0}]]}, "⏰ 定时触发(每6h)": {"main": [[{"node": "📡 从Supabase拉取OKR数据", "type": "main", "index": 0}]]}, "📡 从Supabase拉取OKR数据": {"main": [[{"node": "🎨 渲染罗盘HTML", "type": "main", "index": 0}]]}, "🎨 渲染罗盘HTML": {"main": [[{"node": "📄 读取HTML模板", "type": "main", "index": 0}]]}, "📄 读取HTML模板": {"main": [[{"node": "🔧 组装最终HTML", "type": "main", "index": 0}]]}, "🔧 组装最终HTML": {"main": [[{"node": "📦 转二进制", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": ["okr", "workbuddy", "sync"], "triggerCount": 2, "updatedAt": "2026-04-18T18:35:00.000Z", "versionId": "v002"}